.about-container {
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
  /* background-color: rgb(218, 201, 201); */
  margin-left: 100px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}
.about-container h1 {
  position: relative;
  /* top: 10%; */

  font-size: 300px;
  z-index: 1;
  color: #c0b5b56c;
  font-family: sans-serif;
}
.about-detail {
  width: 70%;
  position: relative;
  background-color: rgba(207, 83, 52, 0.705);
  z-index: 3;
  left: 30%;
  margin-top: -120px;
}
.about-detail p {
  padding: 30px 20px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 18px;
}
